<p id="notice"><%= notice %></p>
<% if current_user %>
<h1>Cohorts</h1>

<div class="new-cohort"></div>
<table id class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Instructor Id</th>
        </tr>
    </thead>
    <tbody id="cohorts">
        <%= render @cohorts %>
    </tbody>
</table>



<br>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>

<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Sign in', new_user_session_path %>
<% end %>

<%= link_to 'New Cohort', new_cohort_path %>
