<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cohort.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @cohort.end_date %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @cohort.instructor_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @cohort.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @cohort.updated_at %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
