<p id="notice"><%= notice %></p>
<% if current_user %>
<p>
  <strong>Title:</strong>
  <%= @cohort.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @cohort.end_date %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @cohort.instructor_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @cohort.course_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @cohort.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @cohort.updated_at %>
</p>


<table id class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody id="students">
        <%= render @roster %>
    </tbody>
</table>

 <h1>ADD STUDENT</h1>

    <%= form_tag({controller: :cohorts, action: :update}, method: :get)%>
    <div class="form-row">
      <div class="form-symbol">
        <i class="fas fa-user-graduate"></i>

      </div>
      <div>
        <%= collection_select(:q, :student_ids, Student.all, :id, :full_name) %>
      </div>
    </div>
    <%= submit_tag("ADD COURSE") %>


   

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>

<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Sign in', new_user_session_path %>
<% end %>
<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
