
  <%= form_for(@student) do |form| %>
  
  <div class="modal-body">
    
    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </div>

    <div class="field">
      <%= form.label :age %>
           <%= form.number_field :age, min: 0, max: 150 %>
    </div>

    <div class="field">
      <%= form.label :education %>
                    <%= form.select :education, ["High School", "Bachelor's", "Master's", "PHD"] %>
    </div>


    <div class="field">
      <%= form.label :created_at %>
      <%= form.datetime_select :created_at %>
    </div>

    <div class="field">
      <%= form.label :updated_at %>
      <%= form.datetime_select :updated_at %>
    </div>

  <div class="field">
       <%= form.label :cohort %>
      <%= form.collection_select :cohort_id, @cohorts, :id, :title, prompt: true %>
    </div>

  <div class="modal-footer">
    <%= form.submit %>
    <% end %>
  </div>


