
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h4 class="modal-title" id="myModalLabel">Add Student</h4>
  </div>
    
  <%= form_for(@student) do |form| %>
  
  <div class="modal-body">
    
    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </div>

    <div class="field">
      <%= form.label :age %>
      <%= form.number_field :age %>
    </div>

    <div class="field">
      <%= form.label :education %>
      <%= form.text_field :education %>
    </div>

    <div class="field">
      <%= form.label :cohort_id %>
      <%= form.text_field :cohort_id %>
    </div>

    <div class="field">
      <%= form.label :created_at %>
      <%= form.datetime_select :created_at %>
    </div>

    <div class="field">
      <%= form.label :updated_at %>
      <%= form.datetime_select :updated_at %>
    </div>

    <div class="field">
      <%= form.label :cohort_id %>
      <%= form.text_field :cohort_id %>
    </div>
  </div>

  <div class="modal-footer">
    <%= form.submit %>
    <% end %>
  </div>


