<p id="notice"><%= notice %></p>
<% if current_user %>
<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Education:</strong>
  <%= @student.education %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @student.cohort_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @student.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @student.updated_at %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @student.cohort_id %>
</p>



<%= link_to 'Sign out', destroy_user_session_path %>
<% else %>

<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Sign in', new_user_session_path %>
<% end %>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
