<tr id="course_<%= course.id %>">
    <td><%= course.title %></td>
    <td><%= course.total_hours %></td>
    <td><%= course.instructor_id %></td>
    <td><%= course.created_at %></td>
    <td><%= course.updated_at %></td>
    <td>
    <%= link_to course, :class => "btn btn-link btn-info btn-just-icon like" do %><i class="material-icons">computer</i><%end%>
        <% if can? :manage, User %>
         <%= link_to edit_course_path(course), :class=> "btn btn-link btn-warning btn-just-icon edit" do%><i class="material-icons">edit</i><%end%>
        <% end %>
         <%= link_to delete_course_path(course), remote: true, :method => :delete,  data: { confirm: "Are you sure?"}, :class=> "btn btn-link btn-danger btn-just-icon remove" do%><i class="material-icons">close</i><%end%>
  </td>
</tr>
