<p id="notice"><%= notice %></p>
<% if current_user %>
<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Total hours:</strong>
  <%= @course.total_hours %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @course.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @course.updated_at %>
</p>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>

<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Sign in', new_user_session_path %>
<% end %>
<% if can? :update, User %>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
<% end %>