<%= form_with(model: course_registration, local: true) do |form| %>
  <% if course_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_registration.errors.count, "error") %> prohibited this course_registration from being saved:</h2>

      <ul>
      <% course_registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cohort_id %>
    <%= form.text_field :cohort_id %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
