<p id="notice"><%= notice %></p>

<p>
  <strong>Cohort:</strong>
  <%= @course_registration.cohort_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @course_registration.student_id %>
</p>

</p>

<%= link_to 'Edit', edit_course_registration_path(@course_registration) %> |
<%= link_to 'Back', course_registrations_path %>
