<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @course_registration.course_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @course_registration.student_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @course_registration.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @course_registration.updated_at %>
</p>

<p>
  <strong>Course:</strong>
  <%= @course_registration.course_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @course_registration.course_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @course_registration.student_id %>
</p>

<%= link_to 'Edit', edit_course_registration_path(@course_registration) %> |
<%= link_to 'Back', course_registrations_path %>
